html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
body {
  background: #25303B;
}
section#timeline {
  width: 60%;
  margin: 20px auto;
  position: relative;
}
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255,255,255,0.2);
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
section#timeline article div.inner span.circle-thing {
  display: block;
  width: 10px;
  height: 1px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -7px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  background: #25303B;
  border: 2px solid rgba(255,255,255,0.7);
  box-shadow: 0 0 0 7px #25303B;
}
section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
    width: 10px;
    height: 10px;
  -webkit-transform: rotate(-45deg);
}
#timeline .keyboard .specs {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
}
#timeline .keyboard .specs .acquisition-date {
  font-size: 1.2em;
  color: gray;
  margin: 0;
  padding: 10px 0 0 0; 
  text-align: center;
}
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}

section#timeline article div.inner h2.complete a {
  text-decoration: none;
  color: #fff;
}
section#timeline article div.inner h2.incomplete a {
  text-decoration: none;
  color: #fff;
}
section#timeline article div.inner h2.complete {
  background: #2ecc71 !important;
}
section#timeline article div.inner h2.complete:after {
  background: #2ecc71 !important;
  text-decoration: none;
  color: #e8e958;
}
section#timeline article div.inner h2.incomplete {
  background: #e74c3c !important;
  text-decoration: none;
  color: #e8e958;
}
section#timeline article div.inner h2.incomplete:after {
  background: #e74c3c !important;
  text-decoration: none;
  color: #e8e958;
}
section#timeline article div.inner h2 a.mail-to-me {
  background: #2ecc71 !important;
  font-size: 0.8em;
  color: yellow;
}

section#profile {
  width: 60%;
  margin: 20px auto;
  position: relative;
}

section#profile #description {
  font-size: 2em;
  font-family: Baskerville, Georgia;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 70px;
}

#clock {
  text-align: center;
  margin-top: 10%;
  font-size: 65px;
  font-family: Baskerville, Georgia;
  color: #fbfbfb;
}
#clock #date {
  margin: 10px;
}
#clock #time {
  margin: 10px;
  font-size: 0.7em;
}

#flexboi {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

#flexboi div#paypal {
  width: 20%;
  font-size: 1.5em;
  font-family: Baskerville, Georgia;
  background: #fbfbfb;
  text-align: center;
  padding: 15px;
  border-radius: 6px 6px 0 0;
}
