createdAt: "2020-10-30T15:33:51.524Z"
updatedAt: "2020-10-30T15:35:12.797Z"
type: "MARKDOWN_NOTE"
folder: "999589012cd79e2caa80"
title: "Endgame memeboard"
tags: []
content: '''
  # Endgame memeboard
  Like a true 
  ## Requirements
'''
linesHighlighted: []
isStarred: false
isTrashed: false
