createdAt: "2020-10-30T09:27:45.640Z"
updatedAt: "2020-10-30T09:53:40.093Z"
type: "MARKDOWN_NOTE"
folder: "940c49dbc921f7682cc2"
title: "Index"
tags: []
content: '''
  # Index
  
  ## Wat is dit voor een gat??
  Gegroet iedereen!  
  Dit is mijn leuke blog vol met aangename en grappige plaatjes!
  
  ## Veel plezier xoxo
  
  ###### Check me op de socials
  
  - [BramVer (Bramver) · GitHub](https://github.com/BramVer/) 
  - [Bramver · GitLab](https://gitlab.com/BramVer)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
